/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/


body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}

h1::after {
    content: line 
  }

/* HLAVICKA */

.titulek {
    font-family: 'Raleway', serif;
    font-size: 50px;
}
.hlavicka {
    color: white;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url("images/island-hlavicka.jpg");
    background-position: center;
    background-size: cover;
    padding: 20px;
}
.hlavickapodtrzeni {
    height: 2px;
    width: 20%;
    background-color: white;
    margin: 20px auto 20px auto
}
.autor {
    font-style: italic;
    padding: 0 0 25px 0
}


/* MENU */

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15pt;
}

.menu ul {
    padding: 0;
    width: 90%;
    list-style-type: none;
}
.menu li{
    text-align: center;
    width: 100%;
    padding: 10px 0;
    border-bottom: lightgrey solid 1px;
}
.menu a {
    color: grey;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
}

.menu a:hover {
    color: black;
    font-weight: bold;
}



/* OBSAH */

p {
    padding: 0 25px;
}

h2 {
    padding: 0 25px;
    font-family: sans-serif;
    font-size: 30px;
}
.popisek {
    text-align: center;
    color: grey;
    margin: 10px;
    font-size: smaller;
}
.popisek a {
    color: grey;
    
}

.obraz {
    margin: 20px 0;
}
.obraz img {
    max-width: 100%;
    display: block;
}

.podtrzeni {
    height: 3px;
    width: 20%;
    background-color: rgb(0, 187, 255);
    margin: 0 0 25px 0
}

/* FOTOGALERIE */

.galerie {
    display: flex;
    flex-direction: column;
}
.galerie img {
    margin: 0;
    width: 100%;
    display: block;
}
.galerie .popisek {
    font-weight: bold;
}
.galerie .popisek-copy {
    font-weight: normal
}


/* PATICKA */

.paticka {
    padding: 15px 0;
    color: grey;
    background-image: linear-gradient( lightgrey, #f5f5f5, #f5f5f5 );
    font-size: smaller;
}

.paticka a {
    color: grey;
}

@media (min-width: 500px) {
    /*MENU*/
    .menu li {  
        border-right: lightgrey solid 1px;
        border-top: lightgrey solid 1px;
    }
    .menu {
        flex-direction: row;
        min-width:100%;
        align-items: stretch;
        
    }
    
    .menu .fotogal {
        border-right:none;
    }
    /*OBRAZY V TEXTU*/
    .obraz {
        position: relative
    }
    .obraz .popisek {
        color: white;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .obraz a {
        color: white;
    }
    /*FOTOGALERIE*/

    .galerie {
        flex-direction: row;
        flex-wrap:wrap;
    }
    .galerie .foto {
        flex-basis: 50%;
        position: relative;
        overflow: hidden;
    }
    .galerie .popisek {
        margin: 0;
        color:white;
        font-weight: normal;
        background-color: rgba(0, 0, 0, 0.7);
        transition: 0.3s;
        position: absolute;
        width: 100%;
    }
    .galerie a {
        color: white;
    }

    .foto:hover .popisek {
        transform: translateY(-100%)
    }

}

@media (min-width: 1000px) {
    /*TĚLO WEBU*/
    .pcbody {
        width: 960px;
        margin: -40px auto 0 auto;
        background-color: white;
        box-shadow: 5px 5px 15px #888888;
    }
    /* ÚVODNÍ ČÁST*/
    .pcuvod {
        display: flex; 
    }
    .menu {
    flex-direction: column;
    min-width: 30%;
    margin: 25px 0
   }
   .menu li {
    border-right: none;
    border-top: none;
    text-align: left;
    padding-left: 5px;
   }
   /*ODSTAVCE*/
   .text, .sekcegalerie {
    margin: 30px 25px;
   }
   .podtrzeni {
    margin-left: -25px;
   }
   .procjetnaisland, .sekcegalerie {
    padding-right: 170px;
   }

   .comusitevidet {
    padding-left: 170px
   }

   /*GALERIE*/
   .galerie .foto {
    flex-basis: 33.3%;
    }
    
    /*PATICKA*/
    .paticka {
        background-image: none;
        width: 960px;
        margin: 25px auto 5px auto;
    }
    .paticka p {
        padding: 0
    }
